body {
    background-color: black;
    color: whitesmoke;
}

p {
    color: whitesmoke !important;
    margin: 2px;
}

header,
.resena,
body,
.skill,
.contHardSkill,
.contSoftSkill,
.container,
.contacto {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

header,
.resena,
.skill,
.containerPokemon,
.contacto {
    width: 60%;
}

.row g-0 {
    flex-direction: row;
}

.card,
.resena,
.skill,
.container {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: rgba(126, 126, 126, 0.904);
    border-radius: 18px 18px 18px 18px;
}

.col-md-4 {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    object-fit: contain;
}

.col-md-8 {
    display: flex;
    width: 75%;
}

.card-body, .card, #contenedorPokemon {
    width: 100%;
    display: flex;
    align-items: center;
    color: whitesmoke;
}

.card-body, .card{
    flex-direction: column;
}

#contenedorPokemon{
    flex-direction: row;
}

#imagenPokemon, #informacionPokemon{
    width: 50%;
}

.skill{
    flex-direction: row;
}

.listHardSkill,
.listSoftSkill {
    display: inline-block;
}

.contHardSkill,
.contSoftSkill {
    margin: 4px;
    width: 50%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

.contHardSkill h3,
.contSoftSkill h3 {
    margin: 3px;
}

.listHardSkill p,
.contSoftSkill p {
    margin: 0;
}

form{
    width: 100%;
}

label{
    color: black;
}